<!doctype html>
<html>
  <head>
    <title>FacialRecognition</title>
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>
    <h1>FacialRecognition</h1>
    <hr>
    <h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">Refresh</a></h3>
    <hr>
    <h3> Face_GetData ==> <a href="/Face_GetData" class="button">Run</a></h3>
    <hr>
    <h3> Face_Recognition ==> <a href="/Face_Recognition" class="button">Run</a></h3>
    <hr>
  </body>
</html>

